flattn layer를 이용한 이미지 학습

In [1]:
import tensorflow as tf
import pandas as pd

with reshape

In [2]:
# 데이터를 준비하고
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립 = 독립.reshape(60000, 784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step
(60000, 28, 28) (60000,)
(60000, 784) (60000, 10)

In [3]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[784])
H = tf.keras.layers.Dense(84, activation='swish')(X)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [4]:
# 모델을 학습하고
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 4s 2ms/step - loss: 7.2039 - accuracy: 0.7985
Epoch 2/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.6283 - accuracy: 0.9117
Epoch 3/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4851 - accuracy: 0.9272
Epoch 4/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4464 - accuracy: 0.9414
Epoch 5/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4027 - accuracy: 0.9460
Epoch 6/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3783 - accuracy: 0.9489
Epoch 7/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3645 - accuracy: 0.9489
Epoch 8/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3231 - accuracy: 0.9526
Epoch 9/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3349 - accuracy: 0.9547
Epoch 10/10
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3158 - accuracy: 0.9554

In [5]:
# 모델을 이용합니다. 
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [6]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

with flattn

In [7]:
# 데이터를 준비하고
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

# 독립 = 독립.reshape(60000, 784)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28) (60000, 10)

In [8]:
# 모델을 만들고
X = tf.keras.layers.Input(shape=[28, 28])
H = tf.keras.layers.Flatten()(X)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [9]:
# 모델을 학습하고
model.fit(독립, 종속, epochs=5)

Epoch 1/5
1875/1875 [==============================] - 4s 2ms/step - loss: 7.2432 - accuracy: 0.8059
Epoch 2/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.5764 - accuracy: 0.9110
Epoch 3/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4635 - accuracy: 0.9298
Epoch 4/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.3966 - accuracy: 0.9389
Epoch 5/5
1875/1875 [==============================] - 4s 2ms/step - loss: 0.4005 - accuracy: 0.9412

In [10]:
# 모델을 이용합니다. 
pred = model.predict(독립[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0